@font-face {
  font-family: 'Lato-Black';
  src: url('fonts/Lato-Black.eot');
  src: url('fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
       url('fonts/Lato-Black.svg#Lato-Black') format('svg'),
       url('fonts/Lato-Black.ttf') format('truetype'),
       url('fonts/Lato-Black.woff') format('woff'),
       url('fonts/Lato-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url('fonts/Lato-BlackItalic.eot');
  src: url('fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Lato-BlackItalic.svg#Lato-BlackItalic') format('svg'),
       url('fonts/Lato-BlackItalic.ttf') format('truetype'),
       url('fonts/Lato-BlackItalic.woff') format('woff'),
       url('fonts/Lato-BlackItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('fonts/Lato-Bold.eot');
  src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Lato-Bold.svg#Lato-Bold') format('svg'),
       url('fonts/Lato-Bold.ttf') format('truetype'),
       url('fonts/Lato-Bold.woff') format('woff'),
       url('fonts/Lato-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('fonts/Lato-Italic.eot');
  src: url('fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Lato-Italic.svg#Lato-Italic') format('svg'),
       url('fonts/Lato-Italic.ttf') format('truetype'),
       url('fonts/Lato-Italic.woff') format('woff'),
       url('fonts/Lato-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('fonts/Lato-Light.eot');
  src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/Lato-Light.svg#Lato-Light') format('svg'),
       url('fonts/Lato-Light.ttf') format('truetype'),
       url('fonts/Lato-Light.woff') format('woff'),
       url('fonts/Lato-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url('fonts/Lato-LightItalic.eot');
  src: url('fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Lato-LightItalic.svg#Lato-LightItalic') format('svg'),
       url('fonts/Lato-LightItalic.ttf') format('truetype'),
       url('fonts/Lato-LightItalic.woff') format('woff'),
       url('fonts/Lato-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/Lato-Regular.eot');
  src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Lato-Regular.svg#Lato-Regular') format('svg'),
       url('fonts/Lato-Regular.ttf') format('truetype'),
       url('fonts/Lato-Regular.woff') format('woff'),
       url('fonts/Lato-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url('fonts/Lato-Hairline.svg#Lato-Hairline') format('svg'),
       url('fonts/Lato-Hairline.ttf') format('truetype'),
       url('fonts/Lato-Hairline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('fonts/Lato-Thin.eot');
  src: url('fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/Lato-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-HairlineItalic';
  src: url('fonts/Lato-HairlineItalic.svg#Lato-HairlineItalic') format('svg'),
       url('fonts/Lato-HairlineItalic.ttf') format('truetype'),
       url('fonts/Lato-HairlineItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url('fonts/Lato-ThinItalic.eot');
  src: url('fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Lato-ThinItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



