
@font-face {
  font-family: 'NotoSansKR Thin';
  font-display:auto;
  src: url('fonts/NotoSansKR-Thin.woff2') format('woff2'),
       url('fonts/NotoSansKR-Thin.woff') format('woff'),
       url('fonts/NotoSansKR-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR Light';
  font-display:auto;
  src: url('fonts/NotoSansKR-Light.woff2') format('woff2'),
       url('fonts/NotoSansKR-Light.woff') format('woff'),
       url('fonts/NotoSansKR-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR DemiLight';
  font-display:auto;
  src: url('fonts/NotoSansKR-DemiLight.woff2') format('woff2'),
       url('fonts/NotoSansKR-DemiLight.woff') format('woff'),
       url('fonts/NotoSansKR-DemiLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'NotoSansKR Regular';
  font-display:auto;
  src: url('fonts/NotoSansKR-Regular.woff2') format('woff2'),
       url('fonts/NotoSansKR-Regular.woff') format('woff'),
       url('fonts/NotoSansKR-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR Medium';
  font-display:auto;
  src: url('fonts/NotoSansKR-Medium.woff2') format('woff2'),
       url('fonts/NotoSansKR-Medium.woff') format('woff'),
       url('fonts/NotoSansKR-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'NotoSansKR Bold';
  font-display:auto;
  src: url('fonts/NotoSansKR-Bold.woff2') format('woff2'),
       url('fonts/NotoSansKR-Bold.woff') format('woff'),
       url('fonts/NotoSansKR-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR Black';
  font-display:auto;
  src: url('fonts/NotoSansKR-Black.woff2') format('woff2'),
       url('fonts/NotoSansKR-Black.woff') format('woff'),
       url('fonts/NotoSansKR-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
